<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "ホーム画面", root_path %>

    <%= form_with url: homes_search_path, local: true, method: :get do |f|%>
      <%= f.text_field :address, placeholder: "住所を入力" %>
      <%= f.submit "エリア検索"%>
    <% end %>

    <%= form_with url: products_path, local: true, method: :get do |f|%>
　　  <%= f.text_field :keyword, placeholder: "名前、コンテント入力" %>
      <%= f.submit "キーワード検索"%>
    <% end %>
    <%= yield %>
  </body>
</html>
